{% extends "MedBacFormationBundle::layout.html.twig" %}
{%block product%}
             {% for entity in bijou %}
              <li> <a href="detail.html"><img src="{{ asset('bundles/medbacformation/bijou/'~entity.path)}}" alt="" width="109" height="101" border="0" /></a>
               <h6 class="colr">{{entity.titre}} </h6>
              <div><span>{% for Genre in entity.listeDesGenres %}{% if loop.index > 1 %},
{% endif %} {{ Genre.libelle }}{% endfor %}</span></div>
               <p class="price"><h3>{{entity.prix}} Dt</h3></p>
      
              </li>
              {%endfor%} 
 {%endblock%}
{%block content%}
<div  style=" height:500px" class="cont_center">
<h2>Bijouterie Orsilver, montres et bijoux en ligne</h2><br>
<p>Le bijou fait partie intégrante de la féminité en mettant en valeur la finesse du poignet, d’un cou gracile ou un délicieux décolleté. Les femmes par essence adorent les bijoux qui contribuent à faire ressortir leur charme ou leur élégance naturelle. Pour captiver, la femme peut se parer de bracelets en argent ou de colliers fantaisie, de pendentifs en or ou d’une montre Guess… Chez CLEOR, seule l’imagination est la limite, avec des bijoux mettant en valeur la féminité, donnant confiance en soi.
    </p><br>
<p>Le bijou est un des attributs de la beauté féminine les plus visibles, au même titre que le maquillage ou les vêtements. La femme coquette aime tenir compte de ses humeurs, changer de look et de s'amuser avec les tendances et les saisons, en choisissant un beau bijou qui la met en valeur. C'est aussi une manière pour elle de s'affirmer, de jouer avec sa personnalité, son originalité et de se différencier. Porter de jolis bijoux permet en effet de se faire remarquer, d'attirer l'attention tout en restant discrète si on le désire. Plus on se sent belle, plus le pouvoir de séduction est important et à ce titre, les bijoux peuvent sublimer la confiance en soi.
</p><br>
<p>La bijouterie n’est bien sûre pas réservée qu’aux femmes, loin s’en faut. N’oublions pas qu’à l’origine, le bijou était un symbole de pouvoir et de masculinité ! De plus en plus, l’homme moderne aime lui aussi se parer d’un bijou fait pour lui, qui mettra en avant son côté viril. Les enfants ne sont bien sûr pas en reste, avec de nombreuses créations faites pour elles.
</p><br>
<p>La bijouterie a toujours été un excellent choix pour faire un cadeau. C'est une manière de montrer son attachement et les sentiments qu'on éprouve pour quelqu’un. Quelles que soient les circonstances, il est toujours agréable de recevoir un bijou ou même de se l'offrir pour se faire plaisir.
</p>
</div> 
 {%endblock%}